@model Case.web.Models.LoginViewModel

<section class="vh-100">
    <form asp-action="Login" asp-controller="User">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <h3 class="mb-5">Sign in</h3>

                            <div class="form-outline mb-4">
                                @Html.LabelFor(m => m.Email, new { @class = "col-lg-8 control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-outline mb-4">
                                @Html.LabelFor(m => m.Password, new { })
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-lg", @type = "password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" id="btnSubmitlogin" type="submit">Login</button>
                            <div class="form-outline mb-4" style="margin:10px 0px;">
                               <a asp-action="ForgotPassword" asp-controller="User">Reset password?</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


